/*Produktdetailseite*/
/*Gallery*/
img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  overflow: hidden;
}

.gallery__thumbs {
  text-align: center;
  background: #fff;
}
.gallery__thumbs a {
  display: inline-block;
  width: 20%;
  padding: 0.5em;
  opacity: 0.75;
  transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.gallery__thumbs a:hover {
  opacity: 1;
}
.gallery__thumbs a.is-active {
  opacity: 0.2;
}


/*Produktinfos*/
.preis-flex {
  display: flex;
}

 .verfuegbar .mehrwertsteuer {
   font-size: 0.8em; 
   margin: 0;
 }

 .mehrwertsteuer {
   align-items: flex-end;
 }

 .verfuegbar {
 color: #2d9452;
 }

